.imageGallery{
    background-position: center;
    background-size:cover;
    width: 360px;
    height: 360px;
    object-fit: cover;
}

.gallery{
    height: 732px;
    width: 1104px;
    overflow: hidden;
    scroll-behavior: smooth;
    }

.darken{
    filter: brightness(50%
    );
}