.iconHistory{
   display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}


.mainTable{
    display: flex;
}

.mySelect{
    width: 70vw;
    padding: 10px;
    text-align: center;
}

.total{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}



.box1{
   margin: 10px;
    align-content: center;
    background: rgb(21,0,36);
    background: linear-gradient(180deg, rgb(101, 71, 123) 13%, rgb(58, 40, 112) 55%, rgb(14, 0, 14) 100%); 
    border-top-left-radius: 20px;
    padding: 20px;
    margin: 0;
    
}

.box2{
    margin: 10px;
     align-content: center;
     background: rgb(21,0,36);
     background: linear-gradient(180deg, rgb(33, 17, 44) 13%, rgb(58, 40, 112) 55%, rgb(79, 60, 79) 100%); 
     border-radius: 0px;
     padding: 20px;
     margin: 0;
     border-bottom-right-radius: 20px ;
     
 }

.button{
    padding: 20px;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 2px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
}

.bolt{
    color: rgb(36, 36, 36);
    background-color: rgb(173, 175, 41)
}

.water{
color: rgb(37, 37, 37);
background-color: rgb(88, 153, 206);
}

.gas{
    color: rgb(37, 37, 37);
    background-color: rgb(52, 192, 71);
    }

    .house{
        color: rgb(37, 37, 37);
        background-color: rgb(218, 79, 98);
        }