.myScreen{
    width: 100vw;
    height: 50vw;
    overflow: hidden;
}


.mainTable{
    display: flex;
}

.mySelect{
    width: 70vw;
    padding: 10px;
    text-align: center;
}

.total{
    margin-top: 20px;
    font-size: 30px;
}



.box1{
   margin: 10px;
    align-content: center;
    background-color: rgb(22, 22, 22);
    border-top-left-radius: 20px;
    padding: 20px;
    margin: 0;
    
}

.box2{
    margin: 10px;
     align-content: center;
     background-color: rgb(22, 22, 22);
     border-radius: 0px;
     padding: 20px;
     margin: 0;
     border-bottom-right-radius: 20px ;
     
 }

.button{
    padding: 20px;
    border: 1px, solid, rgb(255, 255, 255);
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 2px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
}

.bolt{
    color: rgb(36, 36, 36);
    background-color: rgb(173, 175, 41)
}

.water{
color: rgb(37, 37, 37);
background-color: rgb(88, 153, 206);
}

.gas{
    color: rgb(37, 37, 37);
    background-color: rgb(52, 192, 71);
    }

    .house{
        color: rgb(37, 37, 37);
        background-color: rgb(218, 79, 98);
        }